<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/strait.css">
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="javascripts/strait.js"></script>
  </body>
</html>
